<% include ../partials/header.ejs %>

<div class="container mt-4">
    <div class="row">
        <div class="col">
            <h1 class="d-flex justify-content-between align-items-center mb-4">
                Orders
            </h1>
            <% orders.forEach(function(order) { %>
            <div class="panel panel-default">
                <ul class="list-group mb-3">
                    <li class="list-group-item d-flex justify-content-between">
                        <h5>Order ID</h5>
                        <strong><%= order._id %></strong>
                    </li>
                    <% order.items.forEach(function(product) { %>
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div>
                            <p class="my-0"><%= product.item.title %></p>
                            <small class="text-muted">Quantity <span
                                    class="badge badge-success"><%= product.qty %></span>
                            </small>
                        </div>
                        <span class="text-muted">INR <%= product.price %></span>
                    </li>
                    <% }) %>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong class="text-muted">Address</strong>
                        <span class="text-muted"><%= order.name %>, <%= order.address %></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <strong class="text-muted">Total (INR)</strong>
                        <span class="text-success">INR <%= order.cart.totalPrice %></span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between">
                        <% if(order.delivered) { %>
                        <span class="btn btn-success"><i class="fas fa-truck"></i> Delivered</span>
                        <% } else { %>
                        <a class="btn btn-dark" href="/admin/order/<%= order._id %>"> <i class="fas fa-truck"></i>Deliver ?</a>
                        <% }%>
                    </li>
                </ul>
            </div>
            <% }) %>
            <p>That's it.</p>
        </div>
    </div>
</div>
<% include ../partials/footer.ejs %>